{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<div class="container">
    <form action="/" method="POST">
        <h2>Add Todo</h2>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" name="desc" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
<div class="container mt-3">
    <h2>Your ToDo</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Created On</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% if allTodo|length == 0 %}
            <div class="alert alert-warning" role="alert">
                No record found !
            </div>
            {% else %}
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.data_created}}</td>
                <td>
                    <a href="/update/{{todo.srno}}" type="button" class="btn btn-dark btn-sm mx-1">Update</a>
                    <a href="/delete/{{todo.srno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>
{% endblock body %}